<div id="opening-title">
  <h1>HackL33t Fighters Ⅱ For WordPress</h1>
  <div id="opening-start">
    <%= link_to('START', '/users/sign_in', :class => 'btn btn-secondary') %>
  </div>
      <div id="opening-message">
    <p>2019 @ym405nm</p>
  </div>
</div>
