// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#challenge-map{
  text-align: center;
}

#pq1{
  position:absolute;
  left:382px;
  top:128px
}

#pq2{
  position:absolute;
  left:150px;
  top:89px
}

#pq3{
  position:absolute;
  left:180px;
  top:60px
}

#pq4{
  position:absolute;
  left:200px;
  top:100px
}

.map-pointer{
  background-color: orange;
  color: white;
}
